---
import { Image, getImage } from "astro:assets";
import { getLangFromUrl, getWordOrder, useTranslations } from "../i18n/utils";
import Basehead from "../components/shared/basehead.astro";
import Navbar from "../components/shared/navbar.astro";
import HeroAbout from "../components/about/hero_about.astro";
import Footer from "../components/shared/footer.astro";

const page = "About";
const lang = getLangFromUrl(Astro.url);
const translate = useTranslations(lang);

import heroImage from "../images/about/about_hero.jpg";
const heroImageAlt = "The Banner Image of the About Page";
---

<html lang="vi">
	<head>
		<Basehead title={`QuynhBio - ${translate("nav.about")}`} />
		<meta name="generator" content={Astro.generator} />
	</head>

	<body
		class="bg-orange-100 text-stone-800 dark:bg-stone-800 dark:text-orange-100"
	>
		<div class="w-full h-svh">
			<Navbar location={page} />

			<HeroAbout
				heroImage={heroImage}
				firstWord="Mỹ Phẩm"
				secondWord="Quỳnh Bio"
				wordOrder={getWordOrder(lang)}
			/>

			<div class="w-full px-8 py-10 flex items-center justify-center">
				<div
					class="w-full lg:w-4/5 px-3.5 flex flex-col items-center justify-center"
				>
					<section
						class="pb-10 max-w-none prose prose-quynhbio dark:prose-invert"
					>
						<h2
							class="not-prose py-10 font-bold text-5xl text-center"
						>
							Về Chúng Tôi
						</h2>

						<p>
							Chào mừng bạn đến với Mỹ Phẩm Quỳnh Bio, điểm đến
							hàng đầu cho các giải pháp về làm đẹp và mỹ phẩm tại
							Việt Nam. Mỹ Phẩm Quỳnh Bio được thành lập và điều
							hành bởi Nguyễn Thị Như Quỳnh, là một doanh nghiệp
							với quy mô cá nhân, chuyên cung cấp các sản phẩm
							chăm sóc da cao cấp và dịch vụ cá nhân hóa.
						</p>
						<p>
							Là một doanh nghiệp quy mô nhỏ, chúng tôi tự hào về
							việc mang đến sự chăm sóc cá nhân cho mỗi khách
							hàng. Với đam mê về làm đẹp và cam kết về sự hài
							lòng của khách hàng, Mỹ Phẩm Quỳnh Bio mong muốn
							mang đến cho mọi người cơ hội tự tin và rạng rỡ từ
							bên trong và bên ngoài.
						</p>

						<h3>Các Dịch Vụ của Chúng Tôi</h3>
						<p>
							<ol>
								<li>
									<strong>Phân phối sản phẩm:</strong>
									<p>
										Chúng tôi tự hào là đại lý phân phối của
										các sản phẩm chăm sóc da cao cấp từ các
										thương hiệu uy tín như Faena, Dr. Lacir,
										YLABCOS và PK Pharma. Sự lựa chọn cẩn
										thận của chúng tôi đảm bảo rằng bạn có
										thể tiếp cận với những sản phẩm tốt nhất
										trên thị trường.
									</p>
								</li>

								<li>
									<strong>Tư vấn sản phẩm:</strong>
									<p>
										Bạn không chắc chắn sản phẩm nào phù hợp
										với bạn? Chúng tôi luôn sẵn lòng cung
										cấp các cuộc tư vấn sản phẩm cá nhân để
										giải quyết những vấn đề cụ thể về da và
										mục tiêu của bạn. Chúng tôi sẽ cùng bạn
										tạo ra một chế độ chăm sóc da cá nhân
										hóa phù hợp với nhu cầu đặc biệt của
										bạn.
									</p>
								</li>

								<li>
									<strong>Dịch vụ chăm sóc da:</strong>
									<p>
										Nâng cao chế độ chăm sóc da của bạn với
										dịch vụ chăm sóc da chuyên nghiệp của
										chúng tôi. Từ các liệu pháp làm mới da
										đến các liệu pháp chăm sóc mục tiêu,
										chuyên gia chăm sóc da của chúng tôi sẵn
										sàng giúp bạn có làn da sáng mịn và khỏe
										mạnh.
									</p>
								</li>
							</ol>
						</p>

						<h3>Kết nối với Chúng Tôi:</h3>
						<p>
							Luôn cập nhật với Mỹ Phẩm Quỳnh Bio để nhận thông
							tin mới nhất, mẹo chăm sóc da và các ưu đãi độc
							quyền:

							<ul>
								<li>
									<p>
										Theo dõi chúng tôi trên Facebook để nhận
										thông tin hàng ngày về làm đẹp và tin
										tức.
									</p>
								</li>
								<li>
									<p>
										Liên hệ với chúng tôi qua Zalo để được
										hỗ trợ cá nhân và tư vấn sản phẩm.
									</p>
								</li>
							</ul>
						</p>

						<h3>Mua Sắm với Sự Tự Tin:</h3>
						<p>
							Khám phá danh mục sản phẩm được chọn lọc của chúng
							tôi và dịch vụ chăm sóc da chuyên nghiệp trên nền
							tảng thương mại điện tử chính của chúng tôi, Shopee.
							Với các phương thức thanh toán an toàn và dịch vụ
							giao hàng đáng tin cậy, mua sắm tại Mỹ Phẩm Quỳnh
							Bio sẽ dễ dàng và không có phiền toái.
						</p>

						<hr>
						<p>
							Cảm ơn bạn đã lựa chọn Mỹ Phẩm Quỳnh Bio làm đối tác
							tin cậy của bạn trong lĩnh vực làm đẹp và chăm sóc
							da. Chúng tôi rất hân hạnh được hành trình này cùng
							bạn hướng đến làn da khỏe mạnh và hạnh phúc.
						</p>
					</section>
				</div>
			</div>

			<Footer />
		</div>
	</body>
</html>
