---
import Basehead from "../components/shared/basehead.astro";
import Navbar from "../components/shared/navbar.astro";
import Footer from "../components/shared/footer.astro";
import ContactCard from "../components/contact/contact_card.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const page = "Contact";
const lang = getLangFromUrl(Astro.url);
const translate = useTranslations(lang);
---

<html lang="vi">
	<head>
		<Basehead title={`QuynhBio - ${ translate('nav.contact') }`} />
		<meta name="generator" content={Astro.generator} />
	</head>

	<body
		class="bg-orange-100 text-stone-800 dark:bg-stone-800 dark:text-orange-100"
	>
		<div class="w-full h-svh">
			<Navbar location={page} />

			<div
				class="w-full h-1/3 bg-red-200 text-stone-800 dark:bg-red-400 flex items-center justify-center"
			>
				<div
					class="h-full lg:w-4/5 px-8 flex flex-col items-center justify-center text-center"
				>
					<h1
						class="px-3.5 py-2.5 font-extrabold text-pretty text-3xl 2xs:text-4xl xs:text-5xl md:text-6xl"
					>
						{ translate('contact.title') }
					</h1>
					<p class="px-3.5 py-2.5 text-pretty text-md xs:text-lg">
						{ translate('contact.subtitle') }
					</p>
				</div>
			</div>

			<div class="w-full flex items-center justify-center">
				<div
					class="w-full lg:w-4/5 lg:mx-auto px-8 py-10 flex flex-col items-center jutify-center"
				>
					<h2
						class="px-3.5 py-10 font-bold text-4xl text-center text-pretty"
					>
						{ translate('contact.methods') }
					</h2>

					<div
						class="px-3.5 py-10 flex flex-col lg:flex-row items-center justify-center"
					>
						<ContactCard
							cardTitle={ translate('contact.phone') }
							contactLink="tel:+84912283286"
							contactText="+84 912 283 286"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="bi bi-telephone-fill fill-stone-800 dark:fill-orange-100 w-[20%] h-[20%] lg:w-[30%] lg:h-[30%]"
								viewBox="0 0 16 16"
							>
								<path
									fill-rule="evenodd"
									d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"
								></path>
							</svg>
						</ContactCard>

						<ContactCard
							cardTitle="Email"
							contactLink="mailto:nguyenquynh.tdn@gmail.com"
							contactText="nguyenquynh.tdn@gmail.com"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="bi bi-envelope-fill fill-stone-800 dark:fill-orange-100 w-[20%] h-[20%] lg:w-[30%] lg:h-[30%]"
								viewBox="0 0 16 16"
							>
								<path
									d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"
								></path>
							</svg>
						</ContactCard>

						<ContactCard
							cardTitle={ translate('contact.messenger') }
							contactLink="https://facebook.com/myphamquynhbio"
							contactText="myphamquynhbio"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="bi bi-messenger fill-stone-800 dark:fill-orange-100 w-[20%] h-[20%] lg:w-[30%] lg:h-[30%]"
								viewBox="0 0 16 16"
							>
								<path
									d="M0 7.76C0 3.301 3.493 0 8 0s8 3.301 8 7.76-3.493 7.76-8 7.76c-.81 0-1.586-.107-2.316-.307a.64.64 0 0 0-.427.03l-1.588.702a.64.64 0 0 1-.898-.566l-.044-1.423a.64.64 0 0 0-.215-.456C.956 12.108 0 10.092 0 7.76m5.546-1.459-2.35 3.728c-.225.358.214.761.551.506l2.525-1.916a.48.48 0 0 1 .578-.002l1.869 1.402a1.2 1.2 0 0 0 1.735-.32l2.35-3.728c.226-.358-.214-.761-.551-.506L9.728 7.381a.48.48 0 0 1-.578.002L7.281 5.98a1.2 1.2 0 0 0-1.735.32z"
								></path>
							</svg>
						</ContactCard>

						{
							/*<ContactCard cardTitle="Tiktok" contactLink="https://tiktok.com/@bioquynh" contactText="@bioquynh">
							<svg xmlns="http://www.w3.org/2000/svg" width="30%" height="30%" class="bi bi-tiktok fill-stone-800 dark:fill-orange-100" viewBox="0 0 16 16">
								<path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3z"/>
							</svg>
						</ContactCard> */
						}
					</div>
				</div>
			</div>

			<div
				class="w-full flex items-center justify-center bg-orange-200 dark:bg-stone-900"
			>
				<div
					class="w-full lg:w-4/5 lg:mx-auto px-8 py-10 flex flex-col items-center jutify-center"
				>
					<h2
						class="px-3.5 py-10 font-bold text-4xl text-center text-pretty"
					>
						{ translate('contact.officeAddress') }
					</h2>

					<div
						class="w-full px-3.5 flex flex-col items-center justify-center"
					>
						<address class="mb-10 font-medium text-center text-xl">
							12/200 Trần Thánh Tông, Phường Hạ Long, TP. Nam
							Định, Tỉnh Nam Định
						</address>

						<div class="w-full h-full relative pb-[50%] mb-10 rounded-lg border-2 border-orange-300 dark:border-stone-700">
							<iframe
								id="mapIframe"
								src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d467.3212571868652!2d106.18227739442409!3d20.44176669401853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135e7f7c6adc125%3A0x68844c83ce3ee8a0!2zTeG7uSBwaOG6qW0gUXXhu7NuaCBCaW8!5e0!3m2!1sen!2s!4v1713936967453!5m2!1sen!2s"
								width="800"
								height="600"
								style="border:0;"
								allowfullscreen=""
								loading="lazy"
								referrerpolicy="no-referrer-when-downgrade"
								title="Vị trí của văn phòng QuynhBio Shop trên Google Maps"
								class="h-full w-full left-0 top-0 absolute rounded-lg dark:invert-[90%]"
							></iframe>
						</div>

						<button id="mapThemeButton" class="hidden dark:block px-3.5 py-2.5 my-10 rounded-lg font-medium dark:bg-stone-700 dark:hover:bg-red-400 dark:hover:text-stone-800" title={ translate('contact.toggleMapThemeHint') }>
							{ translate('contact.toggleMapTheme') }
						</button>
					</div>
				</div>
			</div>

			<Footer />
		</div>
	</body>
</html>
<script>
	const mapThemeButton = document.getElementById("mapThemeButton");
	mapThemeButton.addEventListener("click", () => {
		const mapIframe = document.getElementById("mapIframe");
		mapIframe.classList.toggle("dark:invert-[90%]");
	});

	window.matchMedia('(prefers-color-scheme: dark)').addEventListener("change", (e) => {
		const mapIframe = document.getElementById("mapIframe");
		const isLightMode = !e.matches;

		// Reset theme attribute if necessary
		if (isLightMode && !mapIframe.classList.contains("dark:invert-[90%]")) {
			mapIframe.classList.add("dark:invert-[90%]");
		}
	})
</script>