---
import Accordion from "../shared/accordion.astro";

let index = 0;
---

<div class="w-full lg:mx-auto py-10 px-8 flex items-center justify-center">
	<div
		class="w-full px-4 lg:w-4/5 lg:mx-auto flex flex-col items-center justify-center text-center"
	>
		<h2 class="font-bold text-3xl xs:text-4xl lg:text-5xl py-10">
			Frequently Asked Questions (FAQs)
		</h2>

		<div class="w-full mb-6 flex flex-col items-center justify-center">
			<Accordion
				index={index++}
				question="Lorem ipsum dolor sit amet?"
				answer="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem."
			/>
			<Accordion
				index={index++}
				question="Quod idem licet transferre in voluptatem?"
				answer="Ut enim aeque doleamus animo, cum corpore dolemus, fieri tamen permagna accessio potest, si aliquod aeternum et infinitum impendere malum nobis opinemur."
			/>
			<Accordion
				index={index++}
				question="Ullus investigandi veri, nisi inveneris?"
				answer="Praeterea bona praeterita grata recordatione renovata delectant. Est autem situm in nobis ut et voluptates et dolores nasci fatemur e corporis voluptatibus et doloribus -- itaque concedo, quod modo."
			/>
		</div>
	</div>
</div>
