---
import Card from "../shared/card.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const { featuredProducts } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const translate = useTranslations(lang);
---

<div
	class="w-full px-8 py-10 flex items-center justify-center text-center bg-orange-200 dark:bg-stone-900"
>
	<div class="w-full lg:w-4/5 flex flex-col items-center justify-center">
		<h2 class="font-bold text-3xl xs:text-4xl lg:text-5xl py-10">
			{ translate('home.featured-products') }
		</h2>

		<div
			class="w-full px-3.5 py-10 columns-3 flex flex-col lg:flex-row items-center justify-center"
		>
			{ featuredProducts.map((product: any[]) => (<Card product={product[0]} lang={lang} />)) }
		</div>
	</div>
</div>
